{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container md-top-space"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card-body text-center p-3 mt-5 dg-bg">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <h2 class="card-text text-white mb-5 montserrat-b">{{ membership.name }}</h2>
                        <p class="card-text text-white my-5 montserrat">{{ membership.description }}</p>
                        <h3 class="card-text text-white mb-5 montserrat-b">{{ membership.length }}</h3>
                        {% if membership.id == 1 %}
                            <stripe-buy-button
                            buy-button-id="buy_btn_1P4Pw6FBAbixHtgv8fUmel5e"
                            publishable-key="pk_test_51P3KWgFBAbixHtgvNptU7gz5y2N4MnUqD3CUsDfFIl2MQNH7wMTIPUquj8celD69KpJ0nu1JGLljO5qnToCBaf8G00iFnOKY77">
                            </stripe-buy-button>
                        {% endif %}
                        {% if membership.id == 2 %}
                            <stripe-buy-button
                            buy-button-id="buy_btn_1P45t5FBAbixHtgvQ6NcgHj3"
                            publishable-key="pk_test_51P3KWgFBAbixHtgvNptU7gz5y2N4MnUqD3CUsDfFIl2MQNH7wMTIPUquj8celD69KpJ0nu1JGLljO5qnToCBaf8G00iFnOKY77">
                            </stripe-buy-button>
                        {% endif %}
                        {% if membership.id == 3 %}
                            <stripe-buy-button
                            buy-button-id="buy_btn_1P45zrFBAbixHtgvJuWWSV5n"
                            publishable-key="pk_test_51P3KWgFBAbixHtgvNptU7gz5y2N4MnUqD3CUsDfFIl2MQNH7wMTIPUquj8celD69KpJ0nu1JGLljO5qnToCBaf8G00iFnOKY77">
                            </stripe-buy-button>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'media/site_images/spartans-bxng-img.jpg' %}" alt="image of punching bags" class="img-fluid mb-3">
                        <a href="{% url 'memberships' %}" class="btn text-white montserrat-b" style="background-color:#C90404">&lt; BACK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container md-btm-space"></div>

{% endblock %}
