{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container top-space"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card-body text-center p-3 mt-4 dg-bg">
                <p class="card-text text-white mb-4">Situated in the heart of Chippenham since 2000, Spartans Gym is the place to be.
                </p>
                <a href="#" class="btn text-white" style="background-color:#C90404">LEARN MORE</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body text-center p-3 mt-4 dg-bg">
                <p class="card-text text-white mb-4">Situated in the heart of Chippenham since 2000, Spartans Gym is the place to be.
                </p>
                <a href="#" class="btn text-white" style="background-color:#C90404">LEARN MORE</a>
            </div>
        </div>
        <div class="col-6 offset-sm-3">
            <div class="card-body text-center p-3 mt-4 dg-bg">
                <p class="card-text text-white mb-4">Situated in the heart of Chippenham since 2000, Spartans Gym is the place to be.
                </p>
                <a href="#" class="btn text-white" style="background-color:#C90404">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
