{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Div to create top space -->

<div class="container md-top-space"></div>

<!-- Section to display selected memberships details  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card-body text-center p-3 mt-5 dg-bg">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <h2 class="card-text text-white mb-5 montserrat-b">{{ membership.name }}</h2>
                        <p class="card-text text-white my-5 montserrat">{{ membership.description }}</p>
                        <h3 class="card-text text-white mb-5 montserrat-b">{{ membership.length }}</h3>
                        <p>{{ pkey }}</p>
<!-- Buy button/link -->
                        {% if user.is_authenticated %}
                            <stripe-buy-button
                            buy-button-id="{{ membership.stripe_price_id }}"
                            publishable-key="{{ STRIPE_PK }}"
                            receipt_email="{{ user.email }}"
                            customer-email="{{ user.email }}">
                            </stripe-buy-button>
                        {% else %}
                            <a class="btn btn-outline-white me-4 rounded-3 montserrat-b" style="background-color:#fafafa"
                            href="{% url 'account_signup' %}">Sorry, it looks like you need to sign in first</a>
                        {% endif %}
                    </div>
<!-- Back button -->
                    <div class="col-md-6">
                        <img src="{{ membership.image }}" alt="image of punching bags" class="img-fluid mb-3">
                        <a href="{% url 'memberships' %}" class="btn text-white montserrat-b" style="background-color:#C90404">&lt; BACK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div to create bottom space -->

<div class="container md-btm-space"></div>

{% endblock %}
