{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container m-top-space"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="card-body text-center p-3 mt-5 dg-bg">
                <h2 class="card-text text-white mb-3 montserrat-b">{{ membership.name }}</h2>
                <p class="card-text text-white mb-3 montserrat">{{ membership.description }}</p>
                <img src="../../../static/media/site_images/spartans-bxng-img.jpg" alt="image of punching bags" width="100px" height="75px" class="mb-3">
                <a href="#" class="btn text-white montserrat-b" style="background-color:#C90404">></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
