{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container top-space"></div>

{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container-fluid main-header">
    <div class="row">
        <div class="col text-shadow col-lg-6">
            <h1 class="montserrat-b text-white">THIS IS SPARTANS.</h1>
            <h2 class="montserrat-b text-white">THE HOME OF CHAMPIONS.</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 col-md-6 col-lg-4 dg-bg">
            <div class="card-body text-center py-3">
                <i class="fa-solid fa-dumbbell fa-4x mb-3" style="color:#C90404"></i>
                <p class="card-text text-white mb-4 montserrat">Situated in the heart of Chippenham since 2000, Spartans Gym is the place to be for weight training or a great boxing/kickboxing workout. 
                    Whether you're a beginner or have trained before, we have classes for every level and only want to see you smash your fitness goals!
                </p>
                <a href="{% url 'account_signup' %}" class="btn text-white montserrat-b" style="background-color:#C90404">Begin your journey</a>
            </div>
        </div>
    </div>
</div>

<div class="container btm-space"></div>

{% endblock %}
