{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid main-header">
    <div class="row">
        <div class="col col-lg-6">
            <h1 class="montserrat-b">THIS IS SPARTANS.</h1>
            <h2 class="montserrat-b">THE HOME OF CHAMPIONS.</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 black-bg">
            <div class="card-body text-center py-3">
                <p class="card-text text-white mb-4">Situated in the heart of Chippenham since 2000, Spartans Gym is the place to be for a great boxing or kickboxing workout. 
                    Whether you're a beginner or have trained before, we have classes for every level and only want to see you smash your fitness goals!
                </p>
                <a href="#" class="btn btn-primary">Begin your journey</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
