{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}

<!-- Div to create top space on page -->

<div class="container md-top-space"></div>

<!-- Messages section -->

{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Header -->

<div class="container-fluid">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Your Profile" %}</h1>
        </div>
    </div>
</div>

<!-- Section to display user info  -->

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-10 col-md-8 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <p class="montserrat-b mb-5">Username: {{ user.username}}</p>
                <p class="montserrat-b">Email: {{ user.email }}</p>
                <div class="text-center mt-3">
                    <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'account_change_password' %}">Change your Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section to display mail list info  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <div class="col text-shadow text-center">
                    <h2 class="montserrat-b text-white ">{% trans "Newsletter" %}</h2>
                </div>
                {% for item in maillist %}
                    {% if item.user == user %}
                        <div class="text-white">
                            <p class="montserrat-b big-text">Email: {{item.email}}</p>
                        </div>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="text-center mt-3 mb-2 mb-md-0">
                                <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'maillist_update' %}">Change email</a>
                            </div>
                            <div class="text-center mt-3">
                                <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="">Delete</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-white text-center">
                            <p class="montserrat-b">SIGN UP TO OUR MONTHLY NEWSLETTER</p>
                        </div>
                        <div class="text-white text-center">
                            <p class="montserrat">We currently are not sending these newsletters yet. But you can sign up to the mail list with 
                                any email address, and see that on your profile page.
                            </p>
                        </div>
                        <div class="text-center mt-3">
                            <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'maillist_signup' %}">Sign up</a>
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Section to display users current memberships -->

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <div class="text-shadow text-center">
                    <h1 class="montserrat-b text-white ">{% trans "Your Memberships" %}</h1>
                </div>
                {% for subscription in subscriptions %}
                <div class="text-white">
                    <p class="montserrat-b">{{ subscription.membership }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Div to create bottom space -->

<div class="container md-btm-space"></div>

{% endblock %}