{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}

<!-- Div to create top space on page -->

<div class="container md-top-space"></div>

<!-- Messages section -->

{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Header -->

<div class="container-fluid">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Your Profile" %}</h1>
        </div>
    </div>
</div>

<!-- Section to display user info  -->

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-10 col-md-8 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <h2 class="montserrat-b mb-5">{{ user.username}}</h2>
                <h3 class="montserrat-b">{{ user.email }}</h3>
                <div class="text-center mt-3">
                    <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'account_change_password' %}">Change your Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header -->

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Newsletter" %}</h1>
        </div>
    </div>
</div>

<!-- Section to display mail list info  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                    <div class="text-white">
                        <p class="montserrat-b">Hello</p>
                        <div class="text-center mt-3">
                            <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'maillist_signup' %}">Sign up</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Header -->

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Your Memberships" %}</h1>
        </div>
    </div>
</div>

<!-- Section to display users current memberships -->

{% for subscription in subscriptions %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-6 mx-auto">
                <div class="card-body text-white p-3 mt-5 dg-bg">
                        <div class="text-white">
                            <p class="montserrat-b">{{ subscription.membership }}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Div to create bottom space -->

<div class="container md-btm-space"></div>

{% endblock %}