{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}

<div class="container md-top-space"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Your Profile" %}</h1>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-10 col-md-8 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <h2 class="montserrat-b">USERNAME</h2>
                <h3 class="montserrat-b">EMAIL ADDRESS</h3>
                <div class="text-center mt-3">
                    <a class="btn btn-outline-white text-white rounded-3 montserrat" style="background-color:#C90404" href="{% url 'home' %}">Change your Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-shadow text-center">
            <h1 class="montserrat-b text-white ">{% trans "Your Memberships" %}</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 mx-auto">
            <div class="card-body text-white p-3 mt-5 dg-bg">
                <div class="text-white">
                    <p class="montserrat-b">Gym Membership</p>
                </div>
                <h2 class="montserrat-b"></h2>
            </div>
        </div>
    </div>
</div>

<div class="container md-btm-space"></div>

{% endblock %}