/*----------------------------------------------------------- Navbar */

.navbar-nav .nav-link {
    font-family: "Montserrat", sans-serif; /* Change to your desired font family */
    font-size: 16px; /* Optional: Adjust font size as needed */
    font-weight: 700; /* Optional: Adjust font weight as needed */
}

.nav-h {
    height: 2.5rem;
}


/*----------------------------------------------------------- Colours */

.red-bg {
    background-color: #C90404;
}

.red {
    color: #C90404;
}

.drk-red-bg {
    background-color: #910F06;
}

.black-bg {
    background-color: #121212;
}

/*----------------------------------------------------------- Fonts */

.montserrat-b {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/*----------------------------------------------------------- Home page */

.main-header {
    padding-top: 10rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
}

.main-card {
    padding: 1rem;
}

/*----------------------------------------------------------- Media Queries */

@media (min-width: 576px){
    .main-header {
        padding-top: 8rem;
        padding-left: 5rem;
    }
}

@media (min-width: 992px){
    .main-header {
        padding-top: 6rem;
        padding-left: 8rem;
    }
}