/*----------------------------------------------------------- Misc */

.ctm {
    margin-top: 25% !important;
}

/*----------------------------------------------------------- Navbar */

.navbar-nav .nav-link {
    font-family: "Montserrat", sans-serif; /* Change to your desired font family */
    font-size: 16px; /* Optional: Adjust font size as needed */
    font-weight: 700; /* Optional: Adjust font weight as needed */
}

.nav-h {
    height: 2.5rem;
}

/*----------------------------------------------------------- Colours */

.red-bg {
    background-color: #C90404;
}

.red {
    color: #C90404;
}

.drk-red-bg {
    background-color: #910F06;
}

.black-bg {
    background-color: #000000;
}

.black-sbg {
    background-color: rgba(0,0,0,0.3);
}

.dg-bg {
    background-color: #212121;
}

/*----------------------------------------------------------- Fonts + Text effects */

.montserrat-b {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.text-shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}

/*----------------------------------------------------------- Home page */

.main-header {
    padding-top: 18rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
}

.main-card {
    padding: 1rem;
}

.main-bg {
    background-image: url(/static/media/site_images/spartans-ubg-m.jpg);
    background-repeat: no-repeat;
}

/*----------------------------------------------------------- Memberships page */

.m-top-space {
    margin-top: 7rem;
}

/*----------------------------------------------------------- Media Queries */

@media (min-width: 576px){
    .main-header {
        margin-bottom: 4.2rem;
        padding-top: 15rem;
        padding-left: 5rem;
    }

    .main-bg {
        background-image: url(/static/media/site_images/spartans-bg-bt.jpg);
    }

    .ctm {
        margin-top: 51% !important;
    }
}

@media (min-width: 992px){
    .main-header {
        padding-top: 16rem;
        padding-left: 8rem;
        margin-bottom: 8rem;
    }

    .main-bg {
        background-image: url(/static/media/site_images/spartans-db-bg.jpg);
    }

    .ctm {
        margin-top: 15% !important;
    }
}