{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

{% if messages %}
<div>
  <strong>Messages:</strong>
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- Div to create top space on page -->

<div class="container md-top-space"></div>

<!-- Page Header -->

<div class="container-fluid">
  <div class="row">
      <div class="col text-shadow text-center">
        <h1 class="montserrat-b text-white ">{% trans "Sign In" %}</h1>
      </div>
  </div>
</div>

<!-- Sign in form -->

<div class="container-fluid">
  <div class="row">
    <div class="col-10 col-md-6 mx-auto">
      <div class="card-body text-center p-3 mt-5 dg-bg">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          <!-- Form Inputs -->
          {% csrf_token %}
          <p class="card-text text-white my-5 montserrat">
            {{ form.login }}
          </p>
          <p class="card-text text-white my-5 montserrat">
            {{form.password}}
          </p>
          <p class="card-text text-white my-5 montserrat">
            {{form.remember.label}}
            {{form.remember}}
          </p>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- Form buttons/links -->
          <a class="btn btn-outline-white red me-4 rounded-3 montserrat-b" style="background-color:#fafafa" href="{% url 'home' %}">Home</a>
          <button class="primaryAction rounded-3 ms-4 text-white montserrat-b" type="submit" style="background-color:#C90404">{% trans "Sign In" %}</button>
          <p class="mt-2">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </p>
          <p class="montserrat text-white">{% blocktrans %}If you have not created an account yet, please
            <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}</p>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Div to create bottom space on page -->

<div class="container md-btm-space"></div>

{% endblock %}
