{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<!-- Div to create top space on page -->

<div class="container su-top-space"></div>

<!-- Messages section -->

{% if messages %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-shadow black-bg"></div>
            <ul>
                {% for message in messages %}
                <li class="montserrat-b text-shadow text-white">{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<!-- Page Header -->

<div class="container-fluid">
  <div class="row">
      <div class="col text-shadow text-center">
        <h1 class="montserrat-b text-white ">{% trans "Sign Up" %}</h1>
        <p class="montserrat-b text-white">Your password must be at least 8 characters long, not too similar to your username or email 
          and cannot consist solely of numbers.</p>
      </div>
  </div>
</div>

<!-- Sign up form -->

<div class="container-fluid">
  <div class="row">
    <div class="col-10 col-md-6 mx-auto">
        <div class="card-body text-center p-3 mt-5 dg-bg">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            <!-- Form Inputs -->
            {% csrf_token %}
            <p class="card-text text-white my-4 montserrat">{{ form.email }}
              <div class="text-white montserrat">{{ form.email.errors }}</div>
            </p>
            <p class="card-text text-white my-4 montserrat">{{ form.username }}
              <div class="text-white montserrat">{{ form.username.errors }}</div>
            </p>
            <p class="card-text text-white my-4 montserrat">{{ form.password1 }}
              <div class="text-white montserrat">{{ form.password1.errors }}</div>
            </p>
            <p class="card-text text-white my-4 montserrat">{{ form.password2 }}
              <div class="text-white montserrat">{{ form.password2.errors }}</div>
            </p>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <!-- Form buttons/links -->
            <a class=" me-4 btn btn-outline-white red rounded-3 montserrat-b" style="background-color:#fafafa" href="{% url 'home' %}">Home</a>
            <button class=" ms-4 rounded-3 text-white montserrat-b" type="submit" style="background-color:#C90404">{% trans "Sign Up" %}</button>
            <p class="montserrat text-white mt-5">{% blocktrans %}If you already have an account, please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Div to create bottom space on page -->

<div class="container su-btm-space"></div>

{% endblock %}
